:root {
	--header-bg: #141820;
	--header-txt: #dbdbe0;
	--header-hover-bg: #343a40;
	--header-border-bg: #2d3135;
	--body-bg: #141820;
	--article-bg: #141820;
	--article-txt: #dbdbe0;
	--article-border-img: radial-gradient(#dbdbe0, transparent);
	--article-author-txt: #dbdbe0;
	--article-author-underline-bg: #b5c1c9;
	--article-title-txt: #dbdbe0;
	--article-underline-bg: #adb9c6;
	--widget-bg: #141820;
	--widget-border-img: radial-gradient(#dbdbe0, transparent);
	--widget-txt: #dbdbe0;
	--search-border-bg: #eaeaea;
	
}

.site-header {
	background-color: var(--header-bg);
}

.site-title * {
	color: var(--header-txt);
}

.menu-item * {
	color: var(--header-txt);
}

.menu-item *:hover {
	background-color: var(--header-hover-bg);
}

.site-navigation {
	border-top: 1px solid var(--header-border-bg);
	border-bottom: 1px solid var(--header-border-bg);
}

body {
	background-color: var(--body-bg);
}

.article {
	background: var(--article-bg);
	border-image: var(--article-border-img) 1;
	color: var(--article-txt);
}

.meta-author, .meta-date {
	color: var(--article-author-txt);
}

.meta-author:before {
	background-color: var(--article-author-underline-bg);
}

.article-title a {
	color: var(--article-title-txt);
}

.article-meta {
	border-bottom: 1px solid var(--article-underline-bg);
}

.widget {
	background: var(--widget-bg);
	border-image: var(--widget-border-img) 1;
	color: var(--widget-txt);
}

.search-bar {
	background-color: var(--widget-bg);
	color: var(--widget-txt);
}

.search-bar:focus, .search-bar:hover {
	outline: 1px solid var(--search-border-bg);
}

.widget-area .recent a, .widget-area .recent a:visited {
	color: var(--widget-txt);
}

.article-error {
	background-color: var(--article-bg);
	color: var(--article-txt);
	
}

.post-block {
	background-color: var(--article-bg);
	color: var(--article-txt);
	border-image: var(--article-border-img) 1;
}

.post-title {
	color: var(--article-title-txt);
}

hr {
	background-color: var(--article-txt);
}