@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font-family: Roboto;
	border: none;	
}

a {
	user-select: none;
	-webkit-user-drag: none;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	overscroll-behavior-x: none;
	overscroll-behavior-y: none;
}

body::-webkit-scrollbar {
    display: none;
  }

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

#root, #__next {
	isolation: isolate;
}

.site-header {
	display: block;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;	
}

.site-header:before {
	content: "";
	display: table;
}

.site-header:after {
	clear: both;
}

.site-branding {
	padding-bottom: 0px;
	padding-top: 2px;
}

.logo-link {
	width: 120px;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

.logo-img {
	height: 120px;
	width: 120px;
}

.site-title {
	margin: 0 0 .5em;
}

.site-title * {
	font-size: 3rem;
	font-weight: 400;
	line-height: normal;
	font-family: "Roboto-Serif";
	text-decoration: none;
}

.menu-item {
	display: inline-block;
}

.menu-item * {
	padding: 0 1em;
	line-height: 4;
	display: block;
	text-decoration: none;
	transition: background-color ease .3s;
}

.site-container {
	max-width: 1300px;
	position: relative;
	margin: 3em auto;
	word-wrap: break-word;
}

.content-area {
	width: 70%;
	left: 30%;
	padding-left: 1em;
	float: left;
	position: relative;
}

.widget-area {
	width: 30%;
	left: -70%;
	padding-right: 1em;
	float: left;
	position: relative;
}

.article {
	padding: 2em 2.5em;
	margin-bottom: 3em;
	
	border-style: outset;
	border-width: 5px;
	border-radius: 8px;
}

.article-meta {
	text-align: right;
	padding: .5em 0;
	margin: 0 0 1em;
}

.meta-author {
	position: relative;
	float: left;
}

.meta-author:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -.6em;
	height: 3px;
	width: 100%;
}

.article-title a {
	text-decoration: none;
	font-size: 2rem;
}

.widget {
	padding: 1em 1.5em;
	margin: 0 0 2em;
	
	border-style: outset;
	border-width: 5px;
	border-radius: 8px;
}

#theme-switch {
	/* TODO: THIS */
}

#theme-switch:checked {
  background-color: #4CD964;
}

#theme-switch:checked:before {
  left: 139px;
}

.widget-area .search {
	padding: 0;
}

.search-bar {
	width: 100%;
	padding: 1em;
}

.search-bar::-webkit-search-cancel-button {
	display: none;
}

.widget-area .recent h2 {
	margin: 0 0 1em;
	font-size: 1.2rem;
}

.widget-area .recent ul {
	padding: 0 0 0 1em;
	margin: 0;
}

.widget-area .recent a, .widget-area .recent a:visited {
	text-decoration: none;
}

.widget-area .recent a:hover {
    text-decoration: underline;
}

.article-error {
	padding: 2em 2.5em;
	margin-bottom: 3em;
}

.post-block {
	padding: 2em 2.5em;
	margin-bottom: 3em;
	line-height: 1.8;
	
	border-style: outset;
	border-width: 5px;
}

.post-title {
	font-size: 2rem;
	color: #404040;
	text-align: center;
}

.post-author {
	text-align: right;
	margin: 0 0 1em;
}

hr {
	height: 1px;
	margin: 1em 0;
}