---
layout: default
---

<div class="container">
	<main class="content-area">
		{%- if site.posts.size > 0 -%}
			{%- for post in site.posts -%}
				<article class="article">
					<header class="article-header">
						<div class="article-meta">
							<span class="meta-author">{{ post.author | default: "Anonymous" }}</span>
							<span class="meta-date">{{ post.date | date: "%-d %B, %Y" }}</span>
						</div>
						<h2 class="article-title"><a href="{{ post.url | relative_url }}" rel="bookmark">{{ post.title }}</a></h2>
					</header>
					{%- if post.summary -%}
						<p class="article-summary">{{ post.summary }}</p>
					{%- endif -%}
				</article>
			{%- endfor -%}
		{%- endif -%}
	</main>
	<aside class="widget-area">
		<section class="widget"><b>TODO:</b> Insert socials and theme switch or whatever.</section>
		<section class="widget"><b>TODO:</b> Insert search bar and button.</section>
		<section class="widget"><b>TODO:</b> Insert other widgets.</section>
	</aside>
</main>